<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.udacity.aseelalawadh.musicalstructureapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdeleActivity"
            android:label="@string/category_adele" />
        <activity
            android:name=".LadyGagaActivity"
            android:label="@string/category_ladyGaga" />
        <activity
            android:name=".SelenaActivity"
            android:label="@string/category_selena" />
        <activity
            android:name=".ArianaActivity"
            android:label="@string/category_ariana" />
        <activity android:name=".MusicActivity"
            android:label="Artist's Songs"/>
        <activity android:name=".ArtistActivity"
            android:label="Music Artist"
            />

    </application>

</manifest>